* {
  padding: 0;margin:0;box-sizing:border-box;
}

.window {
  border: 5px solid gold;
  border-radius: 10px;
  height: 200px;
  width: 400px;
  overflow: hidden;
}
.imgs {
  display: flex;
  transition: all .5s;
}
img {
  height: 200px;
}
.buttons {
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.buttons > button {
  padding: 2px 15px;
  margin: 0 5px;
}